# Firebase local/cache
.firebase/
.firestore.js

# Environment variables
.env

# Build output
dist/
functions/dist/

# Node
node_modules/
functions/node_modules/

# Logs & caches
*.log
*.cache
.eslintcache

# VSCode / IDE
.vscode/
.idea/